<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>하이스쿨 - 동아리 메인</title>
  </head>

  <body>
    <%- include('../component/header')%>
    <div class="container">
      <h1 class="label">동아리 메인</h1>
      <button onclick="moveClubChat()">채팅</button>
      <a href="/myclubSchedule/<%=data.club_id%>">동아리 일정</a>
      <a href="/myclubPostMain/<%=data.club_id%>">동아리 게시판</a>
      <a id="admin" href="/clubAdminMain/<%=data.club_id%>">동아리 관리</a>
    </div>

    <script>
      // 동아리 관리자만 동아리 관리 링크 활성화
      if(isLeader){
        const admin = document.querySelector('#admin');
        admin.style.display = 'none'
      }
      function moveClubChat() {
        //   window.location.href = `/clubChat/<%=data.club_id%>`;
        //   window.location.href = `/clubChat`;
        console.log(`<%=data.club_id%>`);
      }
      
    </script>
  </body>
</html>
