<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>하이스쿨 - 동아리 메인</title>
  <style>
    .clubTitle {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }


    .description {
      display: flex;
      padding: 12px;
      background-color: var(--color-gray-100);
      border-radius: 4px;
      color: var(--color-gray-500);
      font-weight: 600;
    }



    .menuWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .menuItem {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      width: 100%;
      text-align: center;
      background-color: var(--color-primary-50);
      border-radius: 8px;
      transform: scale(1);
      transition: all 0.5s;
    }

    .menuItem:hover {
      background-color: var(--color-primary-100);
      transition: all 0.5s;

      img {
        transform: scale(1.05);
        transition: all 0.5s;
      }
    }

    .menuItem img {
      margin: 0 auto;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--color-gray-700)
    }

    .list-content {
      white-space: nowrap;
      /* 줄바꿈 없이 텍스트를 한 줄에 표시 */
      overflow: hidden;
      /* 넘치는 내용을 숨김 */
      text-overflow: ellipsis;
      /* 넘치는 내용을 '...'으로 표시 */
      width: 200px;
      /* 원하는 컨테이너의 너비를 설정 */
    }

    .list-title {
      white-space: nowrap;
      /* 줄바꿈 없이 텍스트를 한 줄에 표시 */
      overflow: hidden;
      /* 넘치는 내용을 숨김 */
      text-overflow: ellipsis;
      /* 넘치는 내용을 '...'으로 표시 */
      width: 200px;
      /* 원하는 컨테이너의 너비를 설정 */
    }
  </style>
</head>

<body>
  <%- include('../component/header')%>
    <div class="container">
      <div class="clubTitle">
        <h1>
          <%= data.club_name %>
        </h1>
        <div class="description">
          <span>
            <%= data.description %>
          </span>
        </div>
      </div>
      <div class="menuWrapper">
        <div class="menuContainer">
          <a class="menuItem" href="/myclubChat/<%=data.club_id%>">
            <img width="48" height="48" src="https://img.icons8.com/color/96/chat--v1.png" alt="chat--v1" />
            <span>채팅</span>
          </a>
          <a class="menuItem" href="/myclubPostMain/<%=data.club_id%>">
            <img width="48" height="48"
              src="https://img.icons8.com/external-anggara-flat-anggara-putra/64/external-edit-user-interface-anggara-flat-anggara-putra-4.png"
              alt="external-edit-user-interface-anggara-flat-anggara-putra-4" />
            <span>게시판</span>
          </a>
          <a class="menuItem" href="/myclubSchedule/<%=data.club_id%>">
            <img width="48" height="48" src="https://img.icons8.com/fluency/96/calendar--v1.png" alt="calendar--v1" />
            <span>일정</span>
          </a>
        </div>
        <a class="menuItem" id="admin" href="/clubAdminMain/<%=data.club_id%>">
          <img width="48" height="48" src="https://img.icons8.com/fluency/96/settings.png" alt="settings" />
          <span>관리</span>
        </a>
      </div>


      <h2>최근 글</h2>
      <% if(clubPosts.length !==0) { %>
        <% for(i=0; i < clubPosts.length; i++) { %>
          <div class="listContainer">
            <div class="list"
              onclick="hrefTo('/myclubPostDetail/<%= clubPosts[i].club_id %>/<%= clubPosts[i].post_id %>')">
              <h3 class="list-title">
                <%= clubPosts[i].title %>
              </h3>
              <span class="list-content">
                <%= clubPosts[i].content %>
              </span><br>
              <span class="list-content">
                <%= clubPosts[i].name %>
              </span>
            </div>
          </div>
          <% } %>
            <div class="btnCenter"><button class="btn-sm btn-secondary"
                onclick="hrefTo('/myclubPostMain/<%= data.club_id %>/')">전체보기</button></div>
            <% } else { %>
              <div class="listEmpty"><span>등록된 글이 없습니다</span></div>
              <% } %>

                <h2>회원 목록</h2>
                <% for(i=0; i < foundMember.length; i++) { %>
                  <div class="list">
                    <div class="list-title">
                      <%= foundMember[i] %>
                    </div>

                    <div class="list-content">
                      <%= school[i] %>
                    </div>
                  </div>


                  <% } %>

    </div>

    <% if (isLeader) { %>
      <div class="btnCenter"><button class="btn-sm btn-ghost" disabled>탈퇴하기</button></div>

      <% }else{ %>
        <div class="btnCenter"><button class="btn-sm btn-ghost" onclick="withdraw()">탈퇴하기</button></div>
        <%}%>

          <%- include('../component/upbtn') %>

            <script>
              // 동아리 관리자만 동아리 관리 링크 활성화
              const admin = document.querySelector("#admin");
              if ("<%=isLeader%>" === "true") {
                admin.style.display = "flex";
              } else {
                admin.style.display = "none";
              }
              function moveClubChat() {
                //   window.location.href = `/clubChat/<%=data.club_id%>`;
                //   window.location.href = `/clubChat`;
                console.log(`<%=data.club_id%>`);
              }


              function hrefTo(link) {
                document.location.href = link;
              }

              // 동아리 탈퇴 기능
              async function withdraw() {
                if (confirm('<%=data.club_name%>에서 탈퇴하시겠습니까?')) {

                  try {
                    const res = await axios({
                      method: "DELETE",
                      url: `/clubAdminMemberDetail/<%=data.club_id%>/<%=userid_num%>`,
                    });
                    console.log(res);
                    alert('탈퇴되었습니다');
                    window.location.href = '/home';
                  } catch (error) {
                    console.log("myclubMain 에서 axios delete error > ", error);
                  }


                } else {
                  return;
                }
              }
            </script>
</body>

</html>