<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하이스쿨 - 내 동아리 전체 조회</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/club.css">
</head>
<body>
    <%- include('../component/header')%>
    <h1> 내 동아리 전체 조회 </h1>
    <% for(let i=0; i<data.length;i++){ %>
        <div class="list" onclick="showDetail(event)" >
    
          <div class="list-title" >
            <%= data[i].club_name%>
            <span style="display: none;"  class="club_id"><%=data[i].club_id%>
            </span>
          </div>
          <div class="list-content">
            <%=data[i].description%>
            <span style="display: none;"  class="club_id"><%=data[i].club_id%>
            </span>
          </div>
      </div>
        <% } %>
</body>
</html>