<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>채팅목록</title>
</head>
<body>
  
    <%- include('component/header')%>
    <main class="container">
    <h2>DM </h2>
    <% for( let i = 0; i < findMyChat.length; i++ ) { %>
        <div class="list" onclick="showChat('<%=findMyChat[i].room_name%>')">
            <% let roomName = findMyChat[i].room_name %>
            <% myname.nickname %>
            <% let room_name1 = roomName.replace(myname.nickname,"")%>
            <% let room_name2 = room_name1.replace(",","")%>
            <div class="list-title"><%=room_name2%></div>
            <div class="list-content">채팅방 바로 가기</div>
        </div>
    
    <% } %>


    <h2>동아리 채팅</h2>
    <% for( let i = 0; i < getMyClub.length; i++ ) { %>
        <div class="list" onclick="showClubChat('<%=getMyClub[i].club_id%>')">
            
            <div class="list-title"><%=getMyClub[i].club_name%></div>
            <div class="list-content">채팅방 바로 가기</div>
        </div>
    
    <% } %>
</main>
    <script>
        function showChat(room_name){
            window.location.href=`/chat/${room_name}` 

        }
        function showClubChat(club_id){
            window.location.href=`/myclubChat/${club_id}` 

        }

    </script>
</body>

</html>