<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>홈 화면</title>
  <!-- <link rel="stylesheet" href="/home.css" /> -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    body {
      max-width: 1000px !important;
    }

    .container {
      transform: translateY(-100px);
      gap: 140px !important;
    }

    .hero {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: -1;
      height: 260px;
      width: 100vw;
      background: linear-gradient(#ededed, #ffffff53);
    }

    .background-image {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: -2;
      height: 260px;
      border-radius: 0;
      width: 100vw;
    }

    .slider {
      width: 100%;
      min-width: 70%;
      height: 150px;
      overflow: hidden;
    }

    .slide {
      width: 100%;
      height: 100%;
      display: none;
    }

    .footer {
      background-color: #f3f3f3;
      color: #333;
      text-align: center;
      padding: 20px 0;
      font-size: 0.9rem;
    }

    .footer-content {
      max-width: 1200px;
      padding: 0 20px;
    }

    .footer-content p {
      padding: 5px;
    }

    .footer-logo {
      width: 75px;
      height: auto;
      margin-bottom: 10px;
    }


    div.club-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12px;
    }

    div.list-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-height: 300px;
    }

    div.list-container span {
      text-align: center;
      width: 100%;
    }


    a.club-list {
      display: flex;
      flex-direction: column;

    }

    div p.location {
      width: fit-content !important;
      padding: 8px 12px 8px 10px;
      background-color: var(--color-primary-50);
      color: var(--color-primary-400);
      font-weight: 700;
      font-size: 0.85rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
    }


    div p.location img {
      height: 16px;
    }

    div p.list-content.description.content {
      margin: 0;
      padding: 0;
    }

    a.club-list img {
      object-fit: cover;
      height: 160px;
      border-radius: 0;
      border-radius: 8px 8px 0 0;
    }


    div.club-box {
      display: grid;
      flex-direction: column;
      gap: 12px;
      padding: 20px;
      border: 1px solid var(--color-gray-200);
      border-radius: 0 0 8px 8px;
    }



    h3.list-title {
      font-size: 1.2rem;
      font-weight: 700;

    }

    h2.label {
      line-height: 1.5 !important;
    }


    div.club-container2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12px;
    }


    a.club-list2 {
      display: flex;
      flex-direction: row;
    }

    a.club-list2 img {
      border-radius: 0;
      border-radius: 8px 0 0 8px;
      height: 100px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    a.club-list2 div.club-box {
      width: 100%;
      border-radius: 0 8px 8px 0;
    }

    a.club-list2 p.location {
      display: none;
    }


    div.club-box p.list-content.description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }


    .photo-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:12px;
    }

    .photo-box img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 1/1;
    }



    @media (max-width: 800px) {
      div.club-container {
        grid-template-columns: 1fr;
      }

      .photo-container {
        grid-template-columns: 1fr;
      }
    }


    div.section {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }



  </style>
</head>

<body>


  <%- include('./component/header-main') %>
  <!-- <img class="background-image" src="/blue-bg.png" alt=""> -->
  <div class="hero"></div>
  <!-- <img class="background-image" src="https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?q=80&w=4032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
  <main class="container">
    <div class="main-container"></div>

    <div class="section">
      <h2 style="color: var(--color-gray-600)">내 동아리</h2>
      <div class="club-container">
        <% if(typeof getMyClubs !==undefined && getMyClubs) { %>
        <% if(getMyClubs.length==0) { %>
        <span>가입한 동아리가 없어요</span>
        <% } else { %>
        <% for(i=0; i < getMyClubs.length; i++) { %>
        <a class="club-list" href="/myclubMain/<%= getMyClubs[i].club_id %>">
          <img src="<%= getMyClubs[i].club_img %>" alt="Description of the image">
          <div class="club-box">
            <p class="list-content description location">
              <img width="16" height="16" src="https://img.icons8.com/ios-filled/50/228BE6/marker.png" alt="marker" />
              <%= getMyClubs[i].location %>
            </p>
            <h3 class="list-title container-title">
              <%= getMyClubs[i].club_name %>
            </h3>
            <p class="list-content description content">
              <%= getMyClubs[i].description %>
            </p>
          </div>
        </a>
        <% } %>
        <% } %>
      </div>
      <% } else { %>
      <span>불러오기 실패</span>
      <% } %>
    </div>


    <!-- 광고 -->
    <!-- <div class="slider">
          <img src="https://i.pinimg.com/564x/5b/d5/6c/5bd56cc467c092e742775df9f47aaa7a.jpg" alt="" class="slide">
          <img src="https://i.pinimg.com/564x/61/54/f1/6154f1739549c5c1d00da1374f63a802.jpg" alt="" class="slide">
          <img src="https://www.cuk.edu/type/common/img/kor/info/schoolAdCollect_01_img12.png" alt="" class="slide">
        </div> -->


    <div class="section">
      <h2 class="label">내 동아리 인기글</h2>
      <div class="list-container">
        <% if(typeof clubPosts !==undefined && clubPosts) { %>
        <% if(clubPosts.length==0) { %>
        <span>가입한 동아리가 없어요</span>
        <% } else { %>
        <% for(i=0; i < clubPosts.length; i++) { %>
        <a class="clubPost-list" href="/myclubPostDetail/<%= clubPosts[i].club_id %>/<%= clubPosts[i].post_id %>">
          <div class="club-box">
            <h3 class="list-title container-title">
              <%= clubPosts[i].title %>
            </h3>
            <p class="list-content description text-container">
              <%= clubPosts[i].content %>
            </p>
          </div>
        </a>
        <% } %>
        <% } %>
        <% } else { %>
        <span>불러오기 실패</span>
        <% } %>
      </div>
    </div>





    <div class="section">
      <h2 class="label">자유게시판 갤러리</h2>
      <div class="photo-container">
          <% if(typeof publicPostImg !==undefined && publicPostImg) { %>
          <% if(publicPostImg.length==0) { %>
          <span>자유게시판에 업데이트된 사진이 없습니다.</span>
          <% } else { %>
          <% for(i=0; i < publicPostImg.length; i++) { %>
          <a class="photo-list" href="/publicPostDetail/<%= publicPostImg[i].post_id %>">
            <div class="photo-box">
              <img src="<%= publicPostImg[i].image %>" alt="Description of the image">
            </div>
        </a>
        <% } %>
        <% } %>
        <% } else { %>
        <span>불러오기 실패</span>
        <% } %>
      </div>
    </div>




    <div class="section">
      <h2 class="label">
        <%= name.name %>님을 위한<br>오늘의 추천 동아리
      </h2>
      <div class="club-container">
        <% if(typeof recommendClub !==undefined && recommendClub) { %>
        <% if(recommendClub.length==0) { %>
        <span>가입한 동아리가 없어요</span>
        <% } else { %>
        <% for(i=0; i < recommendClub.length; i++) { %>
        <a class="club-list2" href="/myclubMain/<%= recommendClub[i].club_id %>">
          <img src="<%= recommendClub[i].club_img %>" alt="Description of the image">
          <div class="club-box">
            <p class="list-content description location">
              <%= recommendClub[i].location %>
            </p>
            <h3 class="list-title container-title">
              <%= recommendClub[i].club_name %>
            </h3>
            <p class="list-content description content">
              <%= recommendClub[i].description %>
            </p>
          </div>
        </a>
        <% } %>
        <% } %>
        <% } %>
      </div>
    </div>





    <div class="section">
      <h2 class="label">자유 게시판</h2>
      <div class="list-container">
        <% if(typeof publicPosts !==undefined && publicPosts) { %>
        <% if(publicPosts.length==0) { %>
        <span>자유게시판에 작성된 글이 없습니다.</span>
        <% } else { %>
        <% for(i=0; i < publicPosts.length; i++) { %>
        <a class="club-list" href="/publicPostDetail/<%= publicPosts[i].post_id %>">
          <div class="club-box">
            <h3 class="list-title container-title">
              <%= publicPosts[i].title %>
            </h3>
            <p class="list-content description">
              <%= publicPosts[i].content %>
            </p>
          </div>
        </a>
        <% } %>
        <% } %>
        <% } else { %>
        <span>불러오기 실패</span>
        <% } %>
        <br />
      </div>
    </div>
    </div>


  </main>
  <footer class="footer">
    <div class="footer-content">
      <img src="/icons/hischool_logo.svg" alt="회사 로고" class="footer-logo">
      <p>(주)Introverted Innovators</p>
      <p>대표: 시진 예원 구휘 민수 용</p>
      <p>주소: 서울특별시 강남구 예시동 123-45</p>
      <p>이메일: Innovators@example.com </p>
      <p>전화번호: 123-456-7890</p>
      <p>&copy; (2023)Introverted Innovators. 모든 권리 보유.</p>
    </div>
  </footer>
  <script>
    function toLink(link) {
      document.location.href = link;
    }

    let slides = document.getElementsByClassName("slide");
    let index = 0;

    // function changeSlide() {
    //   for (let i = 0; i < slides.length; i++) {
    //     slides[i].style.display = "none";
    //   }
    //   index++;
    //   if (index > slides.length) { index = 1; }
    //   slides[index - 1].style.display = "block";
    //   setTimeout(changeSlide, 3000); // 3초마다 함수를 호출
    // }

    // changeSlide(); // 함수 실행
  </script>


</body>

</html>