<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>홈 화면</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/home.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="container">
      <%- include('./component/header-main')%>
      <!-- <a href="/clubAdminMain">동아리 관리 페이지(test)</a> -->
      <a href="/clubMain/" style="font-size: large">전체 동아리</a>
      <a href="/myclubPostMain/1/" style="font-size: large">내 동아리 메인</a>


      <span><%= foundUser.name %>님 안녕하세요!</span>
      <% if (foundUser.profile_img) { %>
        <img src="<%= foundUser.profile_img %>" alt="프로필 이미지" width="50">
      <% } else { %>
        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="프로필 이미지" width="50">
      <% } %>
      <br>
      <br>

      


      <br>
      <br>
      <hr>
      <br>
      <br>
      <% for(i = 0; i < getClubs.length; i++) { %> 
      <span><%= getClubs[i].club_name %></span>
      <% } %> 
      <% for(i = 0; i < clubInfo.length; i++) { %> 
      <span><%= clubInfo[i].club_name %></span>
      <% } %>

      <section class="card">
        <h2>내 동아리 목록</h2>
        <div class="card-item">
          과학 동아리
          <p>설명ㅇㅇㅇㅇㅇㅇㅇㅇ</p>
        </div>
        <div class="card-item">
          과학 동아리
          <p>설명ㅇㅇㅇㅇㅇㅇㅇㅇ</p>
        </div>
      </section>
      <section class="card">
        <h2>전체 일정</h2>
        <div class="card-item">
          스터디
          <p>지구과학 스터디입니다.</p>
        </div>
        <div class="card-item">
          스터디
          <p>지구과학 스터디입니다.</p>
        </div>
        <div class="card-item">과제 동아리</div>
        <div class="card-item">과제 동아리</div>
      </section>

      <section class="card">
        <h2>전체 동아리</h2>
        <div class="card-item">
          스터디
          <p>설명설명~~~.</p>
        </div>
        <div class="card-item">
          스터디
          <p>설명설명~~~.</p>
        </div>
        <a href="/clubMain">전체보기</a>
      </section>
    </div>

    <!-- <script>
      function getCookie(name) {
        let matches = document.cookie.match(
          new RegExp(
            "(?:^|; )" +
              name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
              "=([^;]*)"
          )
        );
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }
      console.log(getCookie("jwt"));
    </script>

    <script>
      const allCookies = Cookies.get();
      console.log(allCookies);
    </script> -->

    <script>
      function getHome() {
        axios({
          method: "GET",
          url: "/home",
        }).then(res => {
          console.log(res.getClubs);
        });
      }

      getHome();
    </script>
  </body>
</html>
