<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>홈 화면</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/home.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%- include('./component/header-main') %>
    <div class="container">
      <!-- <a href="/clubAdminMain">동아리 관리 페이지(test)</a> -->
      <a href="/clubMain/" style="font-size: large">전체 동아리</a>
      <a href="/myclubPostMain/1/" style="font-size: large">내 동아리 메인</a>

      <br>
      <br>
      <hr>
      <br>
      <br>
      <h2 class="label">내 동아리</h2>
      <div class="list-container">
        <% for(i = 0; i < myClubs.length; i++) { %>
        <div class="list">
          <a href="/myclubPostMain/<%= myClubs[i].club_id %>">
            <span><%= myClubs[i].club_name %></span>
            <span><%= myClubs[i].location %></span>
            <span><%= myClubs[i].description %></span>
          </a>
        </div>
        <% } %>
      </div>
      <h2 class="label">전체 동아리</h2>
      <div class="list-container">
        <% for(i = 0; i < allClubs.length; i++) { %>
        <div class="list">
          <span><%= allClubs[i].club_name %></span>
          <span><%= allClubs[i].location %></span>
          <span><%= allClubs[i].description %></span>
        </div>
        <% } %>
      </div>
      <br>

      
      <a href="/clubMain">전체보기</a>



    <!-- <script>
      function getCookie(name) {
        let matches = document.cookie.match(
          new RegExp(
            "(?:^|; )" +
              name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
              "=([^;]*)"
          )
        );
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }
      console.log(getCookie("jwt"));
    </script>

    <script>
      const allCookies = Cookies.get();
      console.log(allCookies);
    </script> -->

    <script>
      function getHome() {
        axios({
          method: "GET",
          url: "/home",
        }).then(res => {
          console.log(res.getClubs);
        });
      }

      getHome();
    </script>
  </body>
</html>
