<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>하이스쿨 - 자유게시판</title>
   <link rel="stylesheet" href="/style.css" />
   <link rel="stylesheet" href="/myClubPostMain.css" />
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

   <style>
      .list-content {
         white-space: nowrap;
         /* 줄바꿈 없이 텍스트를 한 줄에 표시 */
         overflow: hidden;
         /* 넘치는 내용을 숨김 */
         text-overflow: ellipsis;
         /* 넘치는 내용을 '...'으로 표시 */
         width: 200px;
         /* 원하는 컨테이너의 너비를 설정 */
      }

      .list-title {
         white-space: nowrap;
         /* 줄바꿈 없이 텍스트를 한 줄에 표시 */
         overflow: hidden;
         /* 넘치는 내용을 숨김 */
         text-overflow: ellipsis;
         /* 넘치는 내용을 '...'으로 표시 */
         width: 200px;
         /* 원하는 컨테이너의 너비를 설정 */
      }
   </style>
</head>

<body>
   <%- include('../component/header')%>
      <main>
         <div class="container">
            <button onclick="createPost()" id="plus-button" class="plus-button">+</button>
            <!-- 게시물 목록 -->
            <% for(let i=0; i < data.length; i++) { %>
               <div class="list" onclick="showDetail('<%= data[i].post_id %>')">
                  <div class="list-nickname">
                     <%= data[i].nickname %>
                  </div>

                  <div class="list-title">
                     <%= data[i].title %>
                  </div>
                  <div class="list-content">
                     <%= data[i].content %>
                  </div>
                  <%=data[i].updatedAt.getFullYear()%>년 <%=data[i].updatedAt.getMonth()+1%>월
                        <%=data[i].updatedAt.getDate()%>일

               </div>
               <% } %>
         </div>
      </main>
      <script>

         function showDetail(post_id) {
            window.location.href = `/publicPostDetail/${post_id}`;
         }

         function createPost() {
            console.log("게시글 생성 요청 보냄", `/publicNewPost`);
            window.location.href = `/publicNewPost`;
         }

      </script>
</body>

</html>