<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/clubAdminApplyDetail.css" />
  </head>

  <body>
    <%- include('../component/header')%>
    <div class="container">
      <div class="content">
        <p class="content-title">이름</p>
        <p class="content-detail"><%=userInfo.name%></p>
        <p class="content-title">학교</p>
        <p class="content-detail"><%=userInfo.school%></p>
        <p class="content-title">학년</p>
        <p class="content-detail"><%=userInfo.grade%></p>
        <p class="content-title">지원동기</p>
        <p class="content-detail"><%=getClubAdminApplyDetail.motivation%></p>
        <p class="content-title">자기소개</p>
        <p class="content-detail"><%=getClubAdminApplyDetail.introduction%></p>
        <button type="button" class="btn btn-primary" onclick="approve()">승인</button><br /><br><br>
        <button onclick="reject()">거절</button>
      </div>
    </div>

    <script>

      function printout() {
        console.log('sdfhosdfiosdjfoisd')
      }

      async function approve() {
        try {
          console.log("approve!!")
          const res = await axios({
            method: "PATCH",
            url: "/clubAdminApplyDetail/<%=getClubAdminApplyDetail.club_id%>/<%=getClubAdminApplyDetail.userid_num%>",
            data: {
              motivation: "<%=getClubAdminApplyDetail.motivation%>",
              introduction: "<%=getClubAdminApplyDetail.introduction%>",
              applyResult: true,
            },
          });
          // console.log(res);
          if (res) {
            alert("승인되었습니다");
            window.location.href = "/clubAdminApplyList/<%=getClubAdminApplyDetail.club_id%>";
          } else {
            alert("오류가 발생했습니다. 다시 시도해주세요");
          }
        } catch (error) {
          console.log("createClub 에서 axios error > ", error);
        }
      }

      async function reject() {
        try {
          const res = await axios({
            method: "DELETE",
            url: "/clubAdminApplyDetail/<%=getClubAdminApplyDetail.club_id%>/<%=getClubAdminApplyDetail.userid_num%>",
          });
          console.log(res);
          if (res.data.isDeleted) {
            alert("거절되었습니다");
            window.location.href = "clubAdminApplyList/<%=getClubAdminApplyDetail.club_id%>";
          } else {
            alert("오류가 발생했습니다. 다시 시도해주세요");
          }
        } catch (error) {
          console.log("clubAdminApplyDetail 에서 axios error > ", error);
        }
      }
    </script>
  </body>
</html>
