<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>하이스쿨 - 동아리 관리</title>
   <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminMain.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- 아이콘 CDN feather -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js"
  integrity="sha512-4lykFR6C2W55I60sYddEGjieC2fU79R7GUtaqr3DzmNbo0vSaO1MfUjMoTFYYuedjfEix6uV9jVTtRCSBU/Xiw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
   .adminMenu{
      display: flex;
      gap: 10px;
      
      justify-content: space-between;
      width: 100%;
   }

   .list a {
      line-height: 28px;
   }
   /* span{
      color: var(--color-primary-600);
   } */
 
  </style>
</head>
<body>
   <%- include('../component/header')%>
   <main class="container">
      <div class="list-container">
         <div class="list">
            <div class="adminMenu" onclick="go('clubAdminApplyList')"><a href="/clubAdminApplyList/<%=data%>">  가입 요청 보기</a><span><i data-feather="chevrons-right"
               class="chevrons-right"></i></span></div>
         </div>
         <div class="list">
            <div class="adminMenu" onclick="go('clubAdminEdit')">
               <a href="/clubAdminEdit/<%=data%>">  동아리 정보 관리</a><span><i data-feather="chevrons-right"
                  class="chevrons-right"></i></span></div>
         </div>
         <div class="list">
            <div class="adminMenu" onclick="go('clubAdminMemberList')">
               <a href="/clubAdminMemberList/<%=data%>">  회원 목록</a><span><i data-feather="chevrons-right"
               class="chevrons-right"></i></span></div>
         </div>
      </div>
      
      

      
      
      
      

</body>
<script>
   function go(where){
      window.location.href=`/${where}/<%=data%>`
   }
</script>
<script>feather.replace()</script>
</html>