<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 목록</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminMemberList.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>

  </style>
</head>




<body>
   <%- include('../component/header')%>



    <input type="hidden" name="userid_num" id="userid_num">



   <% for(let i=0; i<data.length;i++){ %>
  <div class="content">
    <!-- 회원 카드 목록 -->
    <div class="card" onclick="selectClubLeader('<%=data[i].userid_num%>')">
      <p class="member-name"><%=data[i].name%></p>
      <p class="join-date"><%=data[i].date%></p>
    </div>
    <!-- 추가 회원 카드 반복 -->
  </div>
  <% } %>
  </div>
  <button type="button" class="btn btn-secondary" onclick="transferClubLeader()">위임하기</button>
  <script>
    console.log('<%=data%>');
    const userid_num=document.querySelector('#userid_num');

   function selectClubLeader(userid_num){
    document.querySelector('#userid_num').value = userid_num;
   }
   async function transferClubLeader(){
    selectedMember = document.querySelector('#userid_num').value
    try {
          const res = await axios({
            method: "PATCH",
            url: `/clubAdminTransfer/<%=data.club_id%>/${selectedMember}`,
            data: {
              changeLeader:true
            },
          });
          // console.log(res);
          if (res.data.isSuccess) {
            alert("변경되었습니다");
            window.location.href = "/clubAdminEdit/<%=data.club_id%>";
          } else {
            alert("오류가 발생했습니다. 다시 시도해주세요");
          }
        } catch (error) {
          console.log("clubAdminTransfer 에서 axios error > ", error);
        }
      }

   
  </script>


</body>

</html>