<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 목록</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminMemberList.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>

  </style>
</head>




<body>
   <div class="container">
     <%- include('../component/header')%>
     <% for(let i=0; i<data.length;i++){ %>
      <div class="content">
 
        <!-- 회원 카드 목록 -->
        <div class="card" onclick="showMemberDetail('<%=data[i].userid_num%>')">
          <p class="member-name" onclick="showMemberDetail('<%=data[i].userid_num%>')"><%= `${userInfo[i]}` %></p>
          <p class="join-date" onclick="showMemberDetail('<%=data[i].userid_num%>')">가입일: <%=data[i].updatedAt.getFullYear()%>년 <%=data[i].updatedAt.getMonth()+1%>월 <%=data[i].updatedAt.getDate()%>일</p>
        
        </div>
        <!-- 추가 회원 카드 반복 -->
      </div>
      <% } %>
      
   </div>


  <script>
console.log('<%=userInfo%>')
   function showMemberDetail(userid_num){
      window.location.href=`/clubAdminMemberDetail/<%=club_id%>/${userid_num}`
   }
  </script>


</body>

</html>