<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>동아리 정보 관리</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminEdit.css">
  <style>

  </style>
</head>


<body>
   <%- include('../component/header')%>
  <div class="content">
    <div class="group">
      <h2>동아리 이름</h2>
      <input  id="editClubName" value="<%=data.club_name%>">
    </div>
    <div class="group">
      <h2>동아리 설명</h2>
      <input id="editClubDescription" value="<%=data.club_name%>">
    </div>
    
    <div class="group">
      <h2>관리자</h2>
      <p><%=data.leader_id%></p>
      <button onclick="trasferLeader()">동아리장 위임</button>
    </div>
    <div class="group">
      <h2>회원수</h2>
      
    </div>
    <div class="group">
      <h2>제한 회원</h2>
      <input id="editClubLimit" value="<%=data.limit%>"></input>
    </div>
    <div class="group">
      <h2>키워드</h2>
      <input id="editClubKeyword" value="<%=data.keyword%>">
    </div>
    <button onclick="patchClubInfo()">수정</button>
    <button onclick="deleteClubInfo()">삭제</button>
  </div>

  <script>
    console.log('<%=data%>');
    // club
   function trasferLeader(){
      window.location.href= "/clubAdminTransfer/<%=data.club_id%>"
   }
   async function patchClubInfo(){
    try {
          const res = await axios({
            method: "PATCH",
            url: `/clubAdminEdit/<%=data.club_id%>`,
            data: {
              club_name: "동아리 이름",
              leader_id: "동아리 생성하는 유저",
              limit: "인원",
              location: "활동 지역 (예: 서울시 마포구)",
              field: "활동 분야 (예: 과학)",
              keyword: "키워드 (예: 과학, 로봇)",
              description: "동아리 설명"
            },
          });
          console.log(res);
          
        } catch (error) {
          console.log("createAdminEdit 에서 axios error > ", error);
        }

   }
   async function deleteClubInfo(){
    try {
          const res = await axios({
            method: "DELETE",
            url: `/clubAdminEdit/<%=data.club_id%>`,
            data: {
              club_name: clubName
            },
          });
          console.log(res);
          alert('삭제되었습니다!');
          window.location.href='/home'
          
        } catch (error) {
          console.log("createAdminEdit 에서 axios error > ", error);
        }

   }
  </script>
</body>
</html>