<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 목록</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminMemberList.css">
  <style>

  </style>
</head>




<body>
   <%- include('../component/header')%>


   <form name="form_selected" action="/clubAdminTransfer/<%=data.club_id%>" method="post">
    <input type="hidden" name="userId">
</form>


   <% for(let i=0; i<data.length;i++){ %>
  <div class="content">
    <!-- 회원 카드 목록 -->
    <div class="card" onclick="selectClubLeader('<%=data[i].userid_num%>')">
      <p class="member-name"><%=data[i].name%></p>
      <p class="join-date"><%=data[i].date%></p>
    </div>
    <!-- 추가 회원 카드 반복 -->
  </div>
  <% } %>
  </div>
  <button type="button" class="btn btn-secondary" onclick="transferClubLeader()">위임하기</button>
  <script>
    console.log('<%=data%>');
    const form = document.forms['form_selected'];

   function selectClubLeader(userid_num){
      form.userId.value = userid_num;
   }
   function transferClubLeader(){
    form.submit();
   }
  </script>


</body>

</html>