<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminApplyDetail.css">
</head>



<body>
  <%- include('../component/header')%>

  <div class="content">
    <p class="content-title">이름</p>
    <p class="content-detail"><%=data.name%></p>

    <p class="content-title">학교</p>
    <p class="content-detail"><%=data.school%></p>

    <p class="content-title">학년</p>
    <p class="content-detail"><%=data.grade%></p>

    <p class="content-title">지원동기</p>
    <p class="content-detail"><%=data.motivation%></p>

    <p class="content-title">자기소개</p>
    <p class="content-detail"><%=data.introduction%></p>


    <button>승인</button><br>
    <button>거절</button>


  </div>

  

</body>

</html>

