<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>하이스쿨-동아리 상세 조회-<%=data.club_name%></title>

    <!-- axois CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/style.css" />

    <style>
      #info-keyword {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
    </style>
    
  </head>

  <body>
    <!-- 헤더 -->
    <%- include('../component/header')%>
    <!-- 본문 -->
    <main class="container">
      <div class="input">
        <label for="clubName">동아리 이름</label>
        <div class="list-title"><%=data.club_name%></div>
      </div>

      <div class="input">
        <label for="clubDescription">동아리 설명</label>
        <div class="list-title"><%=data.description%></div>
      </div>

      <div class="input">
        <label for="info-keyword">키워드</label>
        <div id="info-keyword"></div>
      </div>

      <div class="input">
        <label for="clubLimit">제한 인원</label>
        <div class="list-title"><%=data.limit%></div>
      </div>

      <div class="input">
        <label for="clubLocation">활동 지역</label>
        <div class="list-title"><%=data.location%></div>
      </div>

      
<!-- 버튼 (클릭 시 가입 신청 양식으로 이동 )-->
        <div class="cta">
          <button id="clubApply" class="btn btn-primary" onclick="showApplyForm()">
            가입 신청
          </button>
        </div>
    </main>


    <script>
      // 키워드 
      const keyword = '<%=data.keyword%>';
      // 공백 삭제
      let keywords = keyword.replace(/\s/g, "");
      // ','  기준으로 나누기
      const keywordsArray = keywords.split(",");
      // 키워드 영역 div 선택하기
      const keywordSpan = document.getElementById('info-keyword');
      // 키워드 -> 해시태그로 보여주기
      for (i=0; i<keywordsArray.length; i++){
        newSpan=document.createElement('span');
        newSpan.className = 'hashtag'
        newSpan.innerText='#'+keywordsArray[i];
        keywordSpan.appendChild(newSpan);
      };
      





      // 가입하기 버튼 비활성화 확인
      // 이미 가입한 동아리인 경우
      if ("<%=isMember%>" == "true") {
        document.querySelector("#clubApply").disabled = true;
        document.querySelector("#clubApply").innerText =
          "이미 가입한 동아리입니다!";
          // 가입 신청한 동아리인 경우--------------------------------------------------------------확인 필요
      } else if ("<%=isMember%>" == "false") {
        document.querySelector("#clubApply").disabled = true;
        document.querySelector("#clubApply").innerText =
          "이미 가입신청된 동아리입니다!";
          // 이미 가입한 동아리가 3개 이상인 경우
      } else if ("<%=clubNum.length%>" >= 3) {
        document.querySelector("#clubApply").disabled = true;
        document.querySelector("#clubApply").innerText =
          "동아리는 3개까지만 가입 가능합니다!";
      }

      // 가입하기 버튼 클릭시 -> 가입 양식으로 이동
      function showApplyForm() {
        const url = `/clubApply/<%=data.club_id%>`;
        window.location.href = url;
      }
    </script>
  </body>
</html>
