<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>하이스쿨 - 고객센터 메인</title>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js"
    integrity="sha512-4lykFR6C2W55I60sYddEGjieC2fU79R7GUtaqr3DzmNbo0vSaO1MfUjMoTFYYuedjfEix6uV9jVTtRCSBU/Xiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <link rel="stylesheet" href="/style.css" />
   <style>
      .inputField{
         border: 1px solid black;
         width: 80%;
      }
     
      .admin-comment{
         background-color: var(--color-gray-100);
      }
      .btn-delete{
         padding: 0.3rem ;
         width: fit-content;
         height: fit-content;
         background-color: var(--color-gray-200);
         border-radius: 5px;
      }
      .btn-delete:hover{
         cursor: pointer;
         background-color:var(--color-gray-300) ;
      }
      .btn-delete:active{
         background-color:var(--color-gray-300) ;
      }
      .content{
         background-color:var(--color-gray-100) ;
         width: 100%;
         height: 100px;
      }
      .btn-comment{
         padding: 0.3rem ;
         width: fit-content;
         height: fit-content;
         background-color: var(--color-primary-500);
         color: white;
         border-radius: 5px;
      }
      .btn-comment:hover{
         background-color: var(--color-primary-600);
      }
      .btn-comment:active{
         background-color: var(--color-primary-600);
      }
      .support{
         border: 1px solid var(--color-gray-600);
      }

      
   </style>
</head>
<body>
   <%- include('../component/header')%>
   <main class="container">

         <!-- 게시물 목록 -->
         <% for(let i=0; i < getSupport.length; i++) { %>
            <% if (getSupport[i].secret==='1') { %>
               <div class="list">
                  <div class="list-title"  onclick="showDetail('<%= getSupport[i].qa_id %>','<%= getSupport[i].secret %>','<%= getSupport[i].userid_num %>',this)">
                     비밀글입니다.
                  </div>
                  <div class="list-content"><%= userNickname[i] %></div>
                  <% if (getSupport[i].userid_num==userid_num) { %>
                     <button type="button" class="btn-delete" onclick="deleteSupport('<%=getSupport[i].qa_id%>')">삭제</button>
                  <% } %>


                  <div id="<%=getSupport[i].qa_id%>" style="display: none;">
                    <div class="content"><%= getSupport[i].qa_content %></div>
                     
                     <input type="text" class="support">

                     <button type="button" class="btn-comment" onclick="patch('<%=getSupport[i].qa_id%>')">등록</button>
                     <div class="admin-comment">
                        <%= getSupport[i].qa_comment %>
                     </div>
                     

                    
                     
                  </div>
               </div>



            <% }else{ %>
            <div class="list" >
               <div class="list-title" onclick="showDetail('<%= getSupport[i].qa_id %>','<%= getSupport[i].secret %>','<%= getSupport[i].userid_num %>')">
                  <%= getSupport[i].qa_content %>
               </div>
               <div class="list-content"><%= userNickname[i] %></div>
               <% if (getSupport[i].userid_num==userid_num) { %>
                  <button type="button" class="btn-delete" onclick="deleteSupport('<%=getSupport[i].qa_id%>')">삭제</button>
               <% } %>
               <div id="<%=getSupport[i].qa_id%>" style="display: none;">
                   
                  
                  <div>
                     <input type="text" class="support">
                     <button type="button" class="btn-comment" onclick="patch('<%=getSupport[i].qa_id%>')">등록</button>
                  </div>
                  <br>
                  <div class="admin-comment">
                     <%= getSupport[i].qa_comment %>
                  </div>
             
                  
               </div>
            </div>
            <% } %>

            <% } %>

            <div class="cta">
               <button class="btn-create" type="button" onclick="createSupport()"><i data-feather="plus" ></i></button>
             </div>
   </main>
   <script>
 

      function showDetail(qa_id,secret,userid_num,clickedDiv){
         if(document.getElementById(`${qa_id}`).style.display=='none'){
            if(secret==='1'){
            if('<%=userid_num%>'=== userid_num){
               clickedDiv.innerText = '<%= getSupport[i].qa_content %>'

               document.getElementById(`${qa_id}`).style.display='block'

            }else{
               alert('비밀글은 작성자만 볼 수 있습니다!');
               return;
            }
         }
         else{
            document.getElementById(`${qa_id}`).style.display='block'
         }
         }else{
            document.getElementById(`${qa_id}`).style.display='none'
         }
         
      }
      function createSupport(){
         window.location.href = '/supportNewPost';
      }

       async function patch(qa_id){
         const Div= document.getElementById(`${qa_id}`);
         const content= Div.querySelector('.support').value;
         try{
            const res= await axios({
            method: "PATCH",
            url: `/supportMain/${qa_id}`,
            data:{
               qa_comment:content,
            }

         });
         
            alert('등록되었습니다');
            window.location.href='/supportMain'

            }catch(error){
               console.log("support에서 답글 등록 오류 > ", error);
            };
      }


      
      async function deleteSupport(qa_id){
         if(confirm('정말 삭제하시겠습니까?')){
            try{
            const res= await axios({
            method: "DELETE",
            url: `/supportMain/${qa_id}`,
            
         });
      
            alert('삭제되었습니다');
            window.location.href='/supportMain'
         

            }catch(error){
               console.log("support에서 게시글 등록 오류 > ", error);
            };
         }else{
            return;
         }
         
      }

      
   </script>
   <script>feather.replace()</script>
</body>
</html>