<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      
    </style>
  </head>

  <body>
    <div class="container">
      <%- include('../component/header')%>
      <div class="profile-header">
        <% if (data.profile_img) { %>
        <img src="<%= data.profile_img %>" alt="프로필 이미지" width="50" />
        <% } else { %>
        <img
          src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
          alt="프로필 이미지"
          width="50"
        />
        <% } %>
        <div class="profile-info">
          <div class="profile-name"><%= data.name %></div>
          <div class="profile-school"><%= data.school %></div>
        </div>
      </div>
      <form name="profile">
        <div class="input">
          <label for="name">이름</label>
          <input type="text" class="textField" id="name" value="<%= data.name%>" />
        </div>
        <div class="input">
          <label for="phone">전화번호</label>
          <input type="text" class="textField" id="phone" value="<%= data.phone %>" />
        </div>
        <div class="input">
          <label for="school">학교</label>
          <input type="text" class="textField" id="school" value="<%= data.school %>" />
        </div>
      </form>
      <div class="cta">
        <button class="btn btn-primary" style="background-color: red;" onclick="handleDelete()">탈퇴</button>
        <button class="btn btn-primary">수정하기</button>
      </div>
    </div>
    
    <script>
      const form = document.forms['profile']

      async function handleDelete() {
        const result = await axios({
          method: "DELETE",
          url: "/mypageMain"
        })

        console.log('회원 탈퇴 완료', result);
      }
    </script>
  </body>
</html>
